body {
	padding-top: 60px;
}

table {
	.actions {
        padding: 17px 20px 18px 0px;
        text-align: right;
        background-color: inherit;

	}
    form {
        display: inline;
    }
}

.btn {
            margin-left: 1em;
        }