- menu_active.set ("jobs")
.hero-unit
	h1 Jobs.
	p Your jobs and stuff

table.zebra-striped
	thead
		tr
			th State
			th Title
			th Actions
	tbody
		for job in jobs
			tr
				td
					h3
						span.status.success &#10003;
						span.status.failure !
				td
					a(href="/job/"+job._id)=job.title
				td.actions
					form(method="post", action="/job/run")
						input(type="hidden", name="id", value=job._id)
						input.btn.success(type="submit", value="&raquo;")
					a.btn(href="/job/edit/"+job._id) &#916;
					form(method="post", action="/job/delete")
						input(type="hidden", name="id", value=job._id)
						input.btn.error(type="submit", value="&times;")
div.actions
	a.btn.primary(href="/job/new") +