- menu_active.set ("jobs")
.hero-unit
	h1= job.title
	p= job.description
	p
		form(method="post", action="/job/run")
			input(type="hidden", name="id", value=job._id)
			input.btn.success.large(type="submit", value="Run")

			a.btn.large(href="/job/edit/"+job._id) Edit

table
	thead
		tr
			th Run
	tbody
		for run in runs
			tr
				td
					a(href="/run/"+run._id) Run
				td=run.date