- menu_active.set ("jobs")
.hero-unit
	h1
		span.status.success.big &#10003;
		span.status.failure.big !
		span.status.running.big &hellip;
		span Run.
	p This run and stuff.

fieldset
	legend STDOUT
	div=run.stdout

fieldset
	legend STDERR
	div=run.stderr